<div class="widget">
  <h3 class="section-title first-title">Popular Rearrangements</h3>
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 text-center">
      <div class="widget-content-blue-wrapper changed-up">
        <div class="widget-content-blue-inner padded">
          <%= link_to asset_url 'layout1.png' do %>
            <%= image_tag 'layout1.png' %>
          <% end %>
          <span class="dynamicsparkline"><canvas width="84" height="19" style="display: inline-block; width: 84px; height: 19px; vertical-align: top;"></canvas></span>
        </div>
      </div>
      <div class="value-block">
        <div class="value-self">10,520</div>
        <div class="value-sub">Installs</div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 text-center">
      <div class="widget-content-blue-wrapper changed-up">
        <div class="widget-content-blue-inner padded">
          <%= link_to asset_url 'layout2.png' do %>
            <%= image_tag 'layout2.png' %>
          <% end %>
          <span class="dynamicsparkline"><canvas width="84" height="19" style="display: inline-block; width: 84px; height: 19px; vertical-align: top;"></canvas></span>
        </div>
      </div>
      <div class="value-block">
        <div class="value-self">9,240</div>
        <div class="value-sub">Installs</div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 text-center">
      <div class="widget-content-blue-wrapper changed-up">
        <div class="widget-content-blue-inner padded">
          <%= link_to asset_url 'layout3.png' do %>
            <%= image_tag 'layout3.png' %>
          <% end %>
          <span class="dynamicsparkline"><canvas width="84" height="19" style="display: inline-block; width: 84px; height: 19px; vertical-align: top;"></canvas></span>
        </div>
      </div>
      <div class="value-block">
        <div class="value-self">1,520</div>
        <div class="value-sub">Installs</div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 text-center">
      <div class="widget-content-blue-wrapper changed-up">
        <div class="widget-content-blue-inner padded">
          <%= link_to asset_url 'layout4.png' do %>
            <%= image_tag 'layout4.png' %>
          <% end %>
          <span class="dynamicsparkline"><canvas width="84" height="19" style="display: inline-block; width: 84px; height: 19px; vertical-align: top;"></canvas></span>
        </div>
      </div>
      <div class="value-block">
        <div class="value-self">520</div>
        <div class="value-sub">Installs</div>
      </div>
    </div>
  </div>
</div>

